<div class="row">
    <div class="col-xs-12 col-md-4 col-md-offset-4">
        <form [formGroup]="authForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" class="form-control" formControlName="username">
                <span class="form-validation" *ngIf="!authForm.get('username')!!.valid && authForm.get('username')!!.touched">
                    <span *ngIf="authForm.get('username')!!.errors!!['required']">
                        Username is required!
                    </span>
                </span>
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" class="form-control" formControlName="password">
                <span class="form-validation" *ngIf="!authForm.get('password')!!.valid && authForm.get('password')!!.touched">
                    <span *ngIf="authForm.get('password')!!.errors!!['required']">
                        Password is required!
                    </span>
                </span>

                <p class="form-validation" *ngIf="error">{{ error }}</p>
                <p class="success" *ngIf="registerMessage">{{ registerMessage }}</p>
            </div>

            <div>
                <div class="row">
                    <div class="col-md-4">
                        <button class="btn btn-info" type="submit" [disabled]="!authForm.valid || registerMessage" *ngIf="!formSubmitting">{{ isLoginMode ? 'Login' : 'Register' }}
                        </button>
                        <mat-spinner [diameter]="40" *ngIf="formSubmitting" style="margin: 0 auto"></mat-spinner>
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-info" type="button" (click)="onSwitchMode()">Switch to {{ isLoginMode ?
                            'Register' : 'Login' }}</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>