<app-header></app-header>
<div class="row">
    <div class="col-md-3 col-md-offset-1">
        <button class="btn btn-success" routerLink="notes/add">New Note</button>
    </div>
</div>
<div class="row">
    <div class="col-md-3 col-md-offset-4">
        <h3 class="text-center">Notes</h3>
        <div *ngIf="!loadingNotes; else spinner">
            <div class="row">
                <app-note-item *ngFor="let note of notes" [note]="note" (noteChanged)="onNoteChanged($event)"
                (noteDeleted)="onNoteDeleted()">
                </app-note-item>
            </div>
            <button class="btn btn-primary load-more" (click)="loadMoreNotes()" *ngIf="!loadingMoreNotes; else spinner" [disabled]="count <= notes.length">Load
                more</button>
            <ng-template #spinner>
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <mat-spinner></mat-spinner>
                    </div>
                </div>
            </ng-template>
        </div>
        <ng-template #spinner>
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <mat-spinner></mat-spinner>
                </div>
            </div>
        </ng-template>
    </div>
</div>