.card {
    background-color: bisque;
    border: 2px solid brown;
    border-radius: 5px;
    margin-bottom: 20px;
}

.check {
    margin: 9px 9px 0 0;
    color: forestgreen;
}

.criss-cross {
    margin: 9px 9px 0 0;
    color: red;
}

button {
    width: 100%;
}

.mb-10 {
    margin-bottom: 10px;
}
