<div class="col-md-12 card">
    <div class="row">
        <div class="col-md-11">
            <h4 class="text-center">{{ note!!.text }}</h4>
        </div>
        <div class="col-md-1">
            <div class="check" *ngIf="note!!.completed">
                <strong>&#10003;</strong>
            </div>
            <div class="criss-cross" *ngIf="!note!!.completed">
                <strong>X</strong>
            </div>
        </div>
    </div>
    <p>{{ note!!.createdDate | date}}</p>
    <div class="row mb-10">
        <div class="col-md-4">
            <button class="btn" [ngClass]="{'btn-success': !note!!.completed, 'btn-warning': note!!.completed}" (click)="toggleNoteCompleteStatus()">{{ note!!.completed ? 'Uncomplete' :
                'Complete'}}</button>
        </div>
        <div class="col-md-4">
            <button class="btn btn-info" [routerLink]="['/notes', note!!._id, 'update']">Update</button>
        </div>
        <div class="col-md-4">
            <button class="btn btn-danger" (click)="deleteNote()">Delete</button>
        </div>
    </div>
</div>