<div class="row mt-100">
    <div class="col-xs-12 col-md-4 col-md-offset-4">
        <form [formGroup]="noteForm" (ngSubmit)="onSubmit()" *ngIf="noteForm">
            <div class="form-group">
                <label for="text">Text</label>
                <input type="text" id="text" class="form-control" formControlName="text">
                <span class="form-validation" *ngIf="!noteForm.get('text')!!.valid && noteForm.get('text')!!.touched">
                    <span *ngIf="noteForm.get('text')!!.errors!!['required']">
                        Note text is required!
                    </span>
                </span>

                <p class="form-validation" *ngIf="error">{{ error }}</p>
            </div>

            <button class="btn btn-info" type="submit" [disabled]="!noteForm.valid">Save</button>
        </form>
        <mat-spinner *ngIf="!noteForm || updatingNote"></mat-spinner>
    </div>
</div>
