<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">Notebook</a>
        </div>

        <div class="navbar-default">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a style="cursor: pointer" *ngIf="isAuthenticated" (click)="onLogout()">Logout</a>
                </li>
            </ul>
            <p class="navbar-text navbar-right" *ngIf="user">{{ user.username }}</p>
        </div>
    </div>
</nav>
